.cuadrado {
    height: 100%;
}

.fila {
    height: 14.3%;
}

.casillero {
    border: black solid 1px;
    width: 33.3%;
    height: 100%;
}

.oblongo {
    width: 100%;
    height: 33.3%;
}

.casilleroOb {
    width: 14.2%;
    border: black solid 1px;
}

.grisc {
    background-color: grey;
}

.rojoc {
    background-color: red;
}

.azulc {
    background-color: blue;
}

.verdec {
    background-color: green;
}

.amarilloc {
    background-color: yellow;
}

.cficha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ficha {
    aspect-ratio: 1/1;
    height: 70%;
    background-color: white;
    border-radius: 50%;
}

.vficha {
aspect-ratio: 1/1;
    width: 80%;
    background-color: white;
    border-radius: 50%;
}